<%= form_for @video do |f| %>
  <%= f.label :video_title %>
  <%= f.text_field :video_title %>

  <%= f.label :video_source %>
  <%= f.text_field :video_source, id: 'videoSource' %>

  <%= f.label :video_caption %>
  <%= f.text_field :video_caption %>

  <div class="form-group">
    <%= f.submit 'Apply', class: "btn btn-lg btn-custom2 min-width tp-resizeme" %>
  </div>
<% end %>