<div class="bg-custom text-white section-heading">
  <div class="container-fluid">
    <h2 class="text-center">Tours</h2>
  </div>
</div>

<div class="container-fluid pt10">
  <div class="row">
    <div class="col-md-10 col-sm-12 col-lg-10 col-md-offset-1 col-lg-offset-1">
      <table class="table table-condensed table-responsive">
        <tr>
          <td><b>Name:</b></td>
          <td><b>Email:</b></td>
          <td><b>Date:</b></td>
          <td><b>Time:</b></td>
          <td><b>Delete:</b></td>
        </tr>
        <% @tours.each do |tour| %>
          <tr>
            <td><%= tour.first_name %></td>
            <td><%= tour.email %></td>
            <td><%= tour.tour_date %></td>
            <td><%= tour.tour_time.strftime("%I:%M%p") %></td>
            <td><%= link_to "Delete", "/tours/#{tour.id}", :method => :delete %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>