<div class="jumbotron bg-custom text-white">
  <div class="container-fluid">
    <h2 class="text-center">Book A Tour</h2>
  </div>
</div>

<div class="section-wrapper">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
      <% if @tour.errors.any? %>
        <% @tour.errors.full_messages.each do |error|  %>
          <p class="text-center" style="color: red"><%= error %></p>
        <% end %>
        <br><br>
      <% end %>
      
      <%= form_for @tour do |f| %>
        <div class="form-group row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <%= f.label :first_name, 'First Name:' %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, 'Email Address:' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        
        <!-- BEGIN DATETIME -->
        <div class="row">

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :tour_date, 'Tour Date:' %>
              <%= f.text_field :tour_date, class: 'form-control flatpickr_calendar flatpickr-input', placeholder: "Select A Date..." %>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :tour_time, 'Tour Time:' %>
              <%= f.text_field :tour_time, class: 'form-control flatpickr_time flatpickr-input', placeholder: "Select A Time..." %>
            </div>
          </div>
        </div>
        <!-- END DATETIME -->

        <div class="form-group">
          <%= f.submit 'Apply', class: "btn btn-lg btn-custom2 min-width tp-resizeme" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="mb50"></div>