<% title 'Paramount|About Us' %>
<% meta_description 'At Paramount of Oak Park, you are part of our family. As a resident, or family member of a resident, we welcome you...' %>

<div class="bg-white">
  <div class="bg-custom text-white section-heading">
    <div class="container-fluid">
      <h2 class="text-center"><%= @about_us.title %></h2>
    </div>
  </div>
  <div class="container" style="height:100%;line-height: 100%;">
      <div class="row mb30 pt30">
          <div class="col-md-6">
              <%= render partial: 'components/component', locals: { component: @about_us, name: 'about_us' } %>
          </div><!-- End .col-md-6 -->

          <div class="col-md-6">
              <div class="about-slider">
                <%= image_tag 'oldmen.jpg', style:"width:100%" %>
              </div><!-- End. about-slider -->
          </div><!-- End .col-md-6 -->
      </div><!-- End .row -->
  </div><!-- End .container -->
</div><!-- End .bg-white -->


<!-- IMAGE GALLERY START -->
<% if @images.length > 0 %>
  <div class="main">
    <div class="bg-custom text-white section-heading">
      <div class="container">
        <h2 class="text-center">Images</h2>
      </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="container-fluid pt30">
      <div class="blog-row">
        <div id="blog-item-container" class="max-col-3">
      <% @images.each do |image| %>

          <article class="entry entry-grid">
            <div class="entry-media">
              <figure>
                  <a href="<%= image.image_source %>"><img src="<%= image.image_source %>" alt="Post image"></a>
              </figure>
              
            </div><!-- End .entry-media -->
            <h2 class="entry-title"><%= image.image_title %></h2>
            <div class="entry-content">
              <p><%= image.image_caption %></p>
            </div><!-- End .entry-content -->
          </article>

      <% end %>
        </div><!-- End #blog-item-container -->
      </div><!-- End .row -->
    </div><!-- End .container -->
  </div><!-- End .main -->
<% end %>
<!-- IMAGE GALLERY END -->

<!-- VIDEO GALLERY START -->
<% if @videos.length > 0 %>
  <div class="main">
    <div class="bg-custom text-white section-heading">
      <div class="container">
        <h2 class="text-center">Videos</h2>
      </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="container-fluid pt30">
      <div class="blog-row">
          <div id="blog-item-container" class="max-col-3">
        <% @videos.each do |video| %>

            <article class="entry entry-grid">
              <div class="entry-media">
                <figure class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="<%= video.video_source %>" width="500" height="281" allowfullscreen></iframe>
                  
                </figure><!-- End .embed-responsive -->

              </div><!-- End .entry-media -->
              <h2 class="entry-title"><%= video.video_title %></h2>
              <div class="entry-content">
                <p>
                  <%= video.video_caption %>
                </p>
              </div><!-- End .entry-content -->
            </article>

        <% end %>  
          </div><!-- End #blog-item-container -->
      </div><!-- End .row -->
    </div><!-- End .container -->
  </div><!-- End .main -->
<% end %>
<!-- VIDEO GALLERY END -->
<!-- End -->