<div class="bg-custom text-white section-heading">
  <div class="container-fluid">
    <h2 class="text-center">Admin Dashboard</h2>
  </div>
</div>

<div class="container-fluid pt20">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3 col-lg-offset-3 text-center">
      <a href="/careers" class="button text-white admin-button-lg">Job Applications</a>
      <a href="/tours" class="button text-white admin-button-lg">Tour Requests</a>
      <a href="/contacts" class="button text-white admin-button-lg">Contact Messages</a>
    </div>
  </div>
</div>

<div class="container-fluid pt10">
  <div class="row">

    <!-- ========================== IMAGE START ============================= -->
    <div class="col-md-6 col-sm-12 col-lg-6 mb20">
      <h2 class="text-center mb20 pt20">Images</h2>

      <!-- Trigger the modal with a button -->
      <div class="text-center mb20"><button type="button" class="button text-white admin-button-lg" data-toggle="modal" data-target="#addImageModal">Add Image</button></div>

      <!-- Modal -->
      <div id="addImageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-center">Add Image</h4>
            </div>
            
            <div class="section-wrapper"> <!-- START SECTION WRAPPER -->
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                  
                  <%= form_for @image, :url => { :controller=>"images", :action => "create" } do |f| %>
                    <div class="form-group row">
                      <div class="col-sm-12 col-md-12 col-lg-12">
                        <%= f.label :image_title, 'Image Title:' %>
                        <%= f.text_field :image_title, class: 'form-control' %>
                      </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :image_source, 'Image Source:', class: 'text-required' %> (only gif, jpeg, jpg, and png)
                      <%= f.file_field :image_source, class: 'form-control', id: 'imagePreview', accept: 'image/png,image/gif,image/jpeg' %>
                      <div id="preview"></div>
                    </div>

                    <div class="form-group">
                      <%= f.label :image_caption, 'Caption:' %>
                      <%= f.text_area :image_caption, class: 'form-control' %>
                    </div>
                    
                    <div class="modal-footer">
                      <div class="form-group text-center">
                        <%= f.submit 'Create', class: "button btn-success" %>
                        <button type="button" class="button btn-danger" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div> <!-- END SECTION WRAPPER -->
          </div>

        </div>
      </div>

        <% @images.each_with_index do |image, index| %>
          <hr>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
              <h4><%= image.image_title %></h4>

              <!-- Trigger the modal with a button -->
              <button type="button" class="button text-white admin-button" data-toggle="modal" data-target="#editImageModal<%= index %>"><span class="glyphicon glyphicon-edit"></span> Edit</button>

              <button type="button" class="button text-white admin-button" data-toggle="modal" data-target="#deleteImageModal<%= index %>"><span class="glyphicon glyphicon-trash"></span> Delete</button>

              <!-- ========================== EDIT IMAGE MODAL ============================ -->
              <div id="editImageModal<%= index %>" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content text-left">
                    <div class="modal-header">
                      <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title text-center">Edit Image</h4>
                    </div>
                    
                    <div class="section-wrapper"> <!-- START SECTION WRAPPER -->
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">

                        <%= form_for image  do |f| %>
                          <div class="form-group row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                              <%= f.label :image_title, 'Image Title:' %>
                              <%= f.text_field :image_title, class: 'form-control' %>
                            </div>
                          </div>

                          <div class="form-group">
                            <%= f.label :image_source, 'Image Source:', class: 'text-required' %> (only gif, jpeg, jpg, and png)
                            <%= f.file_field :image_source, class: 'form-control image-preview', id: "#{index}", accept: 'image/png,image/gif,image/jpeg' %>
                            <div class="preview"><%= image_tag image.image_source, class: 'thumb' %></div>
                          </div>

                          <div class="form-group">
                            <%= f.label :image_caption, 'Caption:' %>
                            <%= f.text_area :image_caption, class: 'form-control' %>
                          </div>
                          
                          <div class="modal-footer">
                            <div class="form-group text-center">
                              <%= f.submit 'Save', class: "button btn-success" %>
                              <button type="button" class="button btn-danger" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        <% end %>
                          
                        </div>
                      </div>
                    </div> <!-- END SECTION WRAPPER -->
                  </div>

                </div>
              </div>
              <!-- =============================== END EDIT IMAGE MODAL =============================== -->

              <!-- ================================== DELETE IMAGE MODAL ==================================== -->

              <!-- Modal -->
              <div id="deleteImageModal<%= index %>" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title text-center">Delete Image</h4>
                    </div>
                    
                    <div class="section-wrapper"> <!-- START SECTION WRAPPER -->
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">

                        <%= form_for image, method: :delete do |f| %>

                          <p class="text-center">Are you sure you want to delete "<%= image.image_title %>"?</p>
                          <%= image_tag image.image_source, class: 'thumb' %>
                          
                          <div class="modal-footer">
                            <div class="form-group text-center">
                              <%= f.submit 'Delete', class: "button btn-success" %>
                              <button type="button" class="button btn-danger" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        <% end %>
                          
                        </div>
                      </div>
                    </div> <!-- END SECTION WRAPPER -->

                  </div>

                </div>
              </div>
              <!-- ============================== END DELETE IMAGE MODAL ============================== -->
            
            </div> <!-- End Column -->
            <div class="col-lg-8 col-md-8 col-sm-12">
              <%= image_tag image.image_source, class: 'thumb' %>
            </div>
          </div> <!-- End Row -->
        <% end %>

    <div class="mb40"></div>
    </div>
    <!-- ========================== IMAGE END ============================ -->
    
    <!-- ======================= VIDEO START ======================= -->
    <div class="col-md-6 col-sm-12 col-lg-6 mb20">
      <h2 class="text-center mb20 pt20">Videos</h2>

      <!-- =================== ADD VIDEO =================== -->
      <!-- Trigger the modal with a button -->
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="text-center"><button type="button" class="button text-white admin-button-lg" data-toggle="modal" data-target="#addVideoModal">Add Video</button></div>
        </div>
      </div>

      <!-- Modal -->
      <div id="addVideoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-center">Add Video</h4>
            </div>
            
            <div class="section-wrapper"> <!-- START SECTION WRAPPER -->
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                  
                  <%= form_for @video, :url => { :controller=>"videos", :action => "create" } do |f| %>
                    <div class="form-group row">
                      <div class="col-sm-12 col-md-12 col-lg-12">
                        <%= f.label :video_title, 'Video Title:' %>
                        <%= f.text_field :video_title, class: 'form-control' %>
                      </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :video_source, 'Video Source:', class: 'text-required' %> (only youtube links)
                      <%= f.text_field :video_source, class: 'form-control', id: 'videoPreview' %>
                      <div id="thumbnail"></div>
                    </div>

                    <div class="form-group">
                      <%= f.label :video_caption, 'Caption:' %>
                      <%= f.text_area :video_caption, class: 'form-control' %>
                    </div>
                    
                    <div class="modal-footer">
                      <div class="form-group text-center">
                        <%= f.submit 'Create', class: "button btn-success" %>
                        <button type="button" class="button btn-danger" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div> <!-- END SECTION WRAPPER -->
          </div>

        </div>
      </div>
      <!-- =================== END ADD VIDEO ================== -->

      
      <% @videos.each_with_index do |video, index| %>
        <hr>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <h4><%= video.video_title %></h4>
          
            <!-- Trigger the modal with a button -->
            <button type="button" class="button text-white admin-button" data-toggle="modal" data-target="#editVideoModal<%= index %>"><span class="glyphicon glyphicon-edit"></span> Edit</button>
            <button type="button" class="button text-white admin-button" data-toggle="modal" data-target="#deleteVideoModal<%= index %>"><span class="glyphicon glyphicon-trash"></span> Delete</button>

            <!-- ================================ EDIT VIDEO MODAL ================================= -->
            <div id="editVideoModal<%= index %>" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content text-left">
                  <div class="modal-header">
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Edit Video</h4>
                  </div>
                  
                  <div class="section-wrapper"> <!-- START SECTION WRAPPER -->
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">

                      <%= form_for video  do |f| %>
                        <div class="form-group row">
                          <div class="col-sm-12 col-md-12 col-lg-12">
                            <%= f.label :video_title, 'Video Title:' %>
                            <%= f.text_field :video_title, class: 'form-control' %>
                          </div>
                        </div>

                        <div class="form-group">
                          <%= f.label :video_source, 'Video Source:', class: 'text-required' %> (only youtube links)
                          <%= f.text_field :video_source, class: 'form-control', id: "videoPreview#{index}" %>
                          <div class="text-center"><button type="button" class="button admin-button text-white" onclick="changeVideo(<%= index %>)">Preview</button></div>
                          <div id="thumbnail<%= index %>" class="text-center"><img src="https://img.youtube.com/vi/<%= video.video_source[30, video.video_source.length] %>/hqdefault.jpg" class="thumb"></div>
                        </div>

                        <div class="form-group">
                          <%= f.label :video_caption, 'Caption:' %>
                          <%= f.text_area :video_caption, class: 'form-control' %>
                        </div>
                        
                        <div class="modal-footer">
                          <div class="form-group text-center">
                            <%= f.submit 'Save', class: "button btn-success" %>
                            <button type="button" class="button btn-danger" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      <% end %>
                        
                      </div>
                    </div>
                  </div> <!-- END SECTION WRAPPER -->
                </div>

              </div>
            </div>
            <!-- ========================== END EDIT VIDEO MODAL ============================== -->

            <!-- ================================== Delete Modal ==================================== -->
            <div id="deleteVideoModal<%= index %>" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Delete Video</h4>
                  </div>
                  
                  <div class="section-wrapper"> <!-- START SECTION WRAPPER -->
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">

                      <%= form_for video, method: :delete do |f| %>

                        <p class="text-center">Are you sure you want to delete "<%= video.video_title %>"?</p>

                        <div class="text-center"><img src="https://img.youtube.com/vi/<%= video.video_source[30, video.video_source.length] %>/hqdefault.jpg" class="thumb"></div>
                        
                        <div class="modal-footer">
                          <div class="form-group text-center">
                            <%= f.submit 'Delete', class: "button btn-success" %>
                            <button type="button" class="button btn-danger" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      <% end %>
                        
                      </div>
                    </div>
                  </div> <!-- END SECTION WRAPPER -->

                </div>

              </div>
            </div>
            <!-- ============================== END DELETE MODAL ============================== -->
        
          </div> <!-- End Column -->
          <div class="col-lg-8 col-md-8 col-sm-12">
            <div id="thumbnail2" class="text-center"><a href="https://www.youtube.com/watch?v=<%= video.video_source[30, video.video_source.length] %>" target="new"><img src="https://img.youtube.com/vi/<%= video.video_source[30, video.video_source.length] %>/hqdefault.jpg" class="thumb"></a></div>
          </div>
        </div> <!-- End Row -->

      <% end %>

    </div>
    <!-- ============================= VIDEO END ========================= -->
  <div class="mb40"></div>
  </div>
</div>
