<div id="rev_slider_wrapper" class="slider-container-agency4 rev_slider_wrapper rev_container_1 fullwidthbanner-container" data-alias="classicslider1">
  <div id="rev_slider" class="rev_slider fullwidthabanner" style="display:none;">
    <ul>
      <!-- SLIDE  -->
      <li data-index="rs-1" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="" data-saveperformance="off" data-title="Paramount">

        <!-- MAIN IMAGE -->
        <%= image_tag "woman-bench.jpg", alt: "Slider bg 1", "data-bgposition" => "center center", "data-bgfit" => "cover", "data-duration" => "11000", "data-bgparallax" => "10", "data-ease" => "Linear.easeNone", class: "rev-slidebg" %>
        <!-- LAYERS -->

        <!-- overlay -->
        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['0','0','0','0']" 
          data-width="full"
          data-height="full"
          data-whitespace="nowrap"
          data-transform_idle="o:0.5;"
          data-transform_in="opacity:0;s:1500;" 
          data-transform_out="o:0;s:1000;" 
          data-start="1000" 
          data-basealign="slide" 
          data-responsive_offset="on" 
          data-responsive="off"
          style="z-index: 3; background-color: rgba(0,0,0, 0.5);"> 
        </div>

        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['-76','-66','-62','-45']" 
          data-fontsize="['17','15','14','12']"
          data-fontweight="400"
          data-lineheight="['20','18','16','16']"
          data-color="#fff"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-frames='[{"delay":1200,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-responsive_offset="on" 
          style="z-index: 4; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">Welcome!
        </div>

        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['-21','-17','-16','-2']" 
          data-fontsize="['64','56','48','38']"
          data-fontweight="700"
          data-lineheight="['70','64','60','46']"
          data-color="#fff"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-frames='[{"delay":1600,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-responsive_offset="on" 
          style="z-index: 5; text-shadow:0 1px 3px rgba(0,0,0, 0.2);letter-spacing: 3px; letter-spacing: 2px; text-transform: uppercase;">Paramount of Oak Park
        </div>

        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['36','36','30','35']" 
          data-width="none"
          data-height="none"
          data-fontsize="['24','20','18','14']"
          data-fontweight="300"
          data-lineheight="['30','24','22','20']"
          data-visibility="['on', 'on', 'on', 'off']"
          data-color="#fff"
          data-whitespace="nowrap"
          data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-responsive_offset="on" 
          style="z-index: 6; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
              Let's make world a better place!
        </div>

        <a class="tp-caption btn btn-lg btn-custom2 min-width tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['102','96','86','84']" 
          data-witdh="none"
          data-height="none"
          data-whitespace="nowrap"
          data-frames='[{"delay":2400,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-transform_hover="o:0.9;s:300;e:Linear.easeNone;"
          data-style_hover="bg:#c00f3c;c:#fff;bc:#c00f3c;s:300;e:Linear.easeNone;"
          data-responsive_offset="on" 
          style="z-index: 7;"
          href="#">Schedule a Tour
        </a>
      </li>

      <!-- SLIDE  -->
      <li data-index="rs-2" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="" data-saveperformance="off" data-title="Paramount">

        <!-- MAIN IMAGE -->
        <%= image_tag "oldmen.jpg", alt: "Slider bg 2", "data-bgposition" => "center center", "data-bgfit" => "cover", "data-duration" => "11000", "data-bgparallax" => "10", "data-ease" => "Linear.easeNone", class: "rev-slidebg" %>
        <!-- LAYERS -->

        <!-- overlay -->
        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['0','0','0','0']" 
          data-width="full"
          data-height="full"
          data-whitespace="nowrap"
          data-transform_idle="o:0.5;"
          data-transform_in="opacity:0;s:1500;" 
          data-transform_out="o:0;s:1000;" 
          data-start="1000" 
          data-basealign="slide" 
          data-responsive_offset="on" 
          data-responsive="off"
          style="z-index: 3; background-color: rgba(0,0,0, 0.5);"> 
        </div>

        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['-76','-66','-62','-45']" 
          data-fontsize="['17','15','14','12']"
          data-fontweight="400"
          data-lineheight="['20','18','16','16']"
          data-color="#fff"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-frames='[{"delay":1200,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-responsive_offset="on" 
          style="z-index: 4; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
          We provide the best
        </div>

        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['-21','-17','-16','-2']" 
          data-fontsize="['64','56','48','38']"
          data-fontweight="700"
          data-lineheight="['70','64','60','46']"
          data-color="#fff"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-frames='[{"delay":1600,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-responsive_offset="on" 
          style="z-index: 5; text-shadow:0 1px 3px rgba(0,0,0, 0.2);letter-spacing: 3px; letter-spacing: 2px; text-transform: uppercase;">Creative Agency
        </div>

        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['36','36','30','35']" 
          data-width="none"
          data-height="none"
          data-fontsize="['24','20','18','14']"
          data-fontweight="300"
          data-lineheight="['30','24','22','20']"
          data-visibility="['on', 'on', 'on', 'off']"
          data-color="#fff"
          data-whitespace="nowrap"
          data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-responsive_offset="on" 
          style="z-index: 6; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
              Get in Touch
        </div>

        <a class="tp-caption btn btn-lg btn-custom2 min-width tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['102','96','86','84']" 
          data-witdh="none"
          data-height="none"
          data-whitespace="nowrap"
          data-frames='[{"delay":2400,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-transform_hover="o:0.9;s:300;e:Linear.easeNone;"
          data-style_hover="bg:#0069b0;c:#fff;bc:#0069b0;s:300;e:Linear.easeNone;" 
          data-responsive_offset="on" 
          style="z-index: 7;"
          href="/pages/contact">Contact Us
        </a>
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom" style="height: 4px; background-color: rgba(255, 255, 255, 0.4);"></div>
  </div><!-- End #rev_slider -->
</div><!-- END REVOLUTION SLIDER -->

<div class="pt50 pb45 pt45-xs text-center bg-white">
  <div class="section-wrapper">
    <h2 class="title text-center mb35">Welcome!</h2>
    <h4>We’re pleased that you are considering Paramount of Oak Park as a short or long term residence for yourself or your loved one.</h4>
    <h4>Before you read any further, there is one thing we want you to know.</h4>
    <h3 class="mb20">We want you to feel at home.</h3>
    <h4>At Paramount of Oak Park, you are part of our family. As a resident, or family member of a resident, we welcome you and want you to feel as comfortable as possible.</h4>
  </div>
</div>

<div class="table-row bg-white border">
  <div class="table-cell cell-image overlay-container video-btn-section" style="background-image:url()">

    <div class="overlay custom"></div><!-- End .overlay -->
  </div><!-- End .table-cell -->
  <div class="table-cell cell-content">
    <div class="row">
      <div class="col-xs-12 col-xss-12">
        <h4>We offer:</h4>
        <ul style="list-style: disc; margin-left: 20px">
          <li>A full service nursing center</li>
          <li>A complete restorative therapy program</li>
          <li>Short term stays for respite, recovery/rehabilitation</li>
          <li>Hospice care</li>
          <li>Dementia services</li>
          <li>State of the art rehabilitative equipment</li>
          <li>Professional, friendly, and caring health professionals</li>
        </ul>
      </div><!-- End .col-xs-6 -->
    </div><!-- End .row -->
  </div><!--End .table-cell  -->
</div><!-- End .table-row -->

<div class="table-row bg-white border">
  <div class="table-cell cell-content">
    <div class="row">
      <div class="col-xs-12 col-xss-12">
        <h4>We invite you to visit us</h4>
        <p>Come for a meal, take a tour, and discover how our family can care for your family.</p>
        <p>We thank you for considering Paramount of Oak Park as the place for you or your loved one to call home for however long you need us. It is “paramount” to us to provide a comfortable and friendly environment, and we are proud of our facility and our staff.</p>
      </div><!-- End .col-xs-6 -->
    </div><!-- End .row -->
  </div><!--End .table-cell  -->
  <div class="table-cell cell-image overlay-container video-btn-section"  style="background-image:url()">

    <div class="overlay custom"></div><!-- End .overlay -->
  </div><!-- End .table-cell -->
</div><!-- End .table-row -->

<div class="quick-form-container bg-custom pt50 pb40 pb50-sm">
  <div class="container">
    <h2 class="title text-white mb35">Book a Tour</h2>
      <div class="row">
        <%= form_for @tour, url: url_for(controller: 'tours', action: 'create') do |f| %>
          <div class="col-lg-3 col-md-2 col-sm-12">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div><!-- End .col-md-2 -->
          <div class="col-lg-3 col-md-2 col-sm-12">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div><!-- End .col-md-2 -->
          <div class="col-lg-2 col-md-2 col-sm-12">
            <%= f.label :tour_date %>
            <%= f.text_field :tour_date, class: "form-control flatpickr_calendar", placeholder: "Select Date.." %>
          </div><!-- End .col-md-2 -->
          <div class="col-lg-2 col-md-2 col-sm-12">
            <%= f.label :tour_time %>
            <%= f.text_field :tour_time, class: "form-control flatpickr_time", placeholder: "Select Time.." %>
          </div><!-- End .col-md-2 -->
          <div class="col-lg-2 col-md-2 col-sm-12" style="margin-top: 27px">
            <%= f.submit 'Book', class: "btn btn-custom2 btn-block" %>
          </div><!-- End .col-md-2 -->
        <% end %>
      </div><!-- End .row -->

      <div class="clearfix mb10 visible-sm visible-xs"></div><!-- margin -->
  </div><!-- End .container -->
</div><!-- End .quick-form-container -->

<div class="pt50 pb45 pt45-xs bg-white">
  <div class="section-wrapper">
    <div class="checklist">
      <h2 class="title text-center mb35">Services</h2>
      <h4 class="text-center">Listed below are just some of the specialized services we offer to you</h4>
      <ul>
        <li> &nbsp; 24-hour nursing care coverage</li>
        <li> &nbsp; Physical Therapy, Occupational Therapy, Speech Therapy</li>
        <li> &nbsp; E-Stim Therapy</li>
        <li> &nbsp; Diathermy</li>
        <li> &nbsp; Therapeutic Ultrasound</li>
        <li> &nbsp; Personalized Rehabilitation Programs</li>
        <li> &nbsp; Enteral (tube) Feeding and IV Therapy Services</li>
        <li> &nbsp; Restorative Therapy Program</li>
        <li> &nbsp; Dental, Podiatry, Psychiatry, Audiology, Dermatology and Optometry care (by appointment)</li>
        <li> &nbsp; Short-Term stays</li>
        <li> &nbsp; Wound Care</li>
        <li> &nbsp; Tracheostomy Care</li>
        <li> &nbsp; Private Pay, Medicare, Medicaid and Some Private Insurance accepted</li>
      </ul>
    </div>
  </div>
</div>

<div class="overlay-container pt50 pb45 pt45-xs">
  <div class="section-wrapper">
    <div class="checklist">
      <h2 class="title text-center mb35">Amenities and Activities</h2>
      <h4>Paramount of Oak Park is a full service residence – and we are proud to provide a beautiful, bright, attractive facility which offers ample opportunities for entertainment and outings.</h4>
      <ul>
        <li> &nbsp; Daily housekeeping</li>
        <li> &nbsp; On-site laundry services</li>
        <li> &nbsp; Cable TV</li>
        <li> &nbsp; Transportation aide available for off-site appointments and activities</li>
        <li> &nbsp; Live entertainment</li>
        <li> &nbsp; Arts and Crafts</li>
        <li> &nbsp; Morning exercise</li>
        <li> &nbsp; Resident spotlights</li>
        <li> &nbsp; Monthly birthday parties</li>
        <li> &nbsp; Holiday parties</li>
        <li> &nbsp; Walk-in Tub</li>
        <li> &nbsp; Rehabilitation Unit</li>
      </ul>
    </div>
    <div class="overlay custom"></div>
  </div>
</div>

<div class="pt50 pb45 pt45-xs text-center bg-white">
  <div class="section-wrapper">
    <h2 class="title text-center mb20">Social Services</h2>
    <p>Transitions can be hard for everyone involved. If you or a loved one is being transferred to a rehabilitative facility, you probably have many questions and concerns.</p>
    <p>We want to help.</p>
    <p>Our staff of professional social workers will help ease those transitions and become part of your care team.  They will continue to provide support, answer questions, and work with you to find solutions for every problem that arises.</p>
    <p>If paperwork and insurance issues are becoming confusing, the Social Services Department  will work with you to explain how and what to do, and will work with you to make any necessary arrangements upon discharge.  If needed, a social worker can also help with Advance Directives or arranging hospice services.</p>
  </div><!-- End .testimonial-container -->
</div>

<div class="table-row bg-white border">
  <div class="table-cell cell-image overlay-container video-btn-section" style="background-image:url()">
  
    <div class="overlay custom"></div><!-- End .overlay -->
  </div><!-- End .table-cell -->
  <div class="table-cell cell-content">
    <div class="row">
      <div class="col-xs-12 col-xss-12">
        <h2 class="title text-center mb20">Rooms</h2>
        <p>We offer both Semi-Private and Private rooms.</p> 
        <p>Each room is well-designed to feel homey while remaining functional.</p>
        <p>Want to make your room feel more like home?  Feel free to bring items from home to personalize and decorate your room!</p>
      </div><!-- End .col-xs-6 -->
    </div><!-- End .row -->
  </div><!--End .table-cell  -->
</div><!-- End .table-row -->

<div class="table-row bg-white border">
  <div class="table-cell cell-content">
    <div class="row">
      <div class="col-xs-12 col-xss-12">
        <h2 class="title text-center mb20">Care Is Paramount</h2>
        <p>We can never say enough about our devotion to our residents and their comfort, both physical and emotional.  Our residents, their families, and their friends are part of our own family and will be treated with utmost respect and dedication.  Come visit us and see for yourself.</p>
      </div><!-- End .col-xs-6 -->
    </div><!-- End .row -->
  </div><!--End .table-cell  -->
  <div class="table-cell cell-image overlay-container video-btn-section"  style="background-image:url()">

    <div class="overlay custom"></div><!-- End .overlay -->
  </div><!-- End .table-cell -->
</div><!-- End .table-row -->
