<% title 'Paramount|Home' %>
<% meta_description 'Welcome! We’re pleased that you are considering Paramount of Oak Park as a short or long term residence for yourself or your loved one.' %>

<div id="rev_slider_wrapper" class="slider-container-agency4 rev_slider_wrapper rev_container_1 fullwidthbanner-container " data-alias="classicslider1">
  <div id="rev_slider" class="rev_slider fullwidthabanner" style="display:none;">
    <ul>
      <!-- SLIDE  -->
      <li data-index="rs-1" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="" data-saveperformance="off" data-title="Paramount">

        <!-- MAIN IMAGE -->
        <%= image_tag "woman-bench.jpg", alt: "Slider bg 1", "data-bgposition" => "center center", "data-bgfit" => "cover", "data-duration" => "11000", "data-bgparallax" => "10", "data-ease" => "Linear.easeNone", class: "rev-slidebg" %>
        <!-- LAYERS -->

        <!-- overlay -->
        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['0','0','0','0']" 
          data-width="full"
          data-height="full"
          data-whitespace="nowrap"
          data-transform_idle="o:0.5;"
          data-transform_in="opacity:0;s:1500;" 
          data-transform_out="o:0;s:1000;" 
          data-start="1000" 
          data-basealign="slide" 
          data-responsive_offset="on" 
          data-responsive="off"
          style="z-index: 3; background-color: rgba(0,0,0, 0.5);"> 
        </div>

        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['-76','-66','-62','-45']" 
          data-fontsize="['17','15','14','12']"
          data-fontweight="400"
          data-lineheight="['20','18','16','16']"
          data-color="#fff"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-frames='[{"delay":1200,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-responsive_offset="on" 
          style="z-index: 4; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">Welcome To
        </div>

        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['-21','-17','-16','-2']" 
          data-fontsize="['64','56','48','38']"
          data-fontweight="700"
          data-lineheight="['70','64','60','46']"
          data-color="#fff"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-frames='[{"delay":1600,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-responsive_offset="on" 
          style="z-index: 5; text-shadow:0 1px 3px rgba(0,0,0, 0.2);letter-spacing: 3px; letter-spacing: 2px; text-transform: uppercase;">Paramount
        </div>

        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['36','36','30','35']" 
          data-width="none"
          data-height="none"
          data-fontsize="['24','20','18','14']"
          data-fontweight="300"
          data-lineheight="['30','24','22','20']"
          data-visibility="['on', 'on', 'on', 'off']"
          data-color="#fff"
          data-whitespace="nowrap"
          data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-responsive_offset="on" 
          style="z-index: 6; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
              of Oak Park
        </div>

        <a class="tp-caption btn btn-lg btn-custom2 min-width tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['102','96','86','84']" 
          data-witdh="none"
          data-height="none"
          data-whitespace="nowrap"
          data-frames='[{"delay":2400,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-transform_hover="o:0.9;s:300;e:Linear.easeNone;"
          data-style_hover="bg:#c00f3c;c:#fff;bc:#c00f3c;s:300;e:Linear.easeNone;"
          data-responsive_offset="on" 
          style="z-index: 7;"
          href="/tours/new">Schedule a Tour
        </a>
      </li>

      <!-- SLIDE  -->
      <li data-index="rs-2" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="" data-saveperformance="off" data-title="Paramount">

        <!-- MAIN IMAGE -->
        <%= image_tag "oldmen.jpg", alt: "Slider bg 2", "data-bgposition" => "center center", "data-bgfit" => "cover", "data-duration" => "11000", "data-bgparallax" => "10", "data-ease" => "Linear.easeNone", class: "rev-slidebg" %>
        <!-- LAYERS -->

        <!-- overlay -->
        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['0','0','0','0']" 
          data-width="full"
          data-height="full"
          data-whitespace="nowrap"
          data-transform_idle="o:0.5;"
          data-transform_in="opacity:0;s:1500;" 
          data-transform_out="o:0;s:1000;" 
          data-start="1000" 
          data-basealign="slide" 
          data-responsive_offset="on" 
          data-responsive="off"
          style="z-index: 3; background-color: rgba(0,0,0, 0.5);"> 
        </div>

        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['-76','-66','-62','-45']" 
          data-fontsize="['17','15','14','12']"
          data-fontweight="400"
          data-lineheight="['20','18','16','16']"
          data-color="#fff"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-frames='[{"delay":1200,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-responsive_offset="on" 
          style="z-index: 4; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
          Welcome To
        </div>

        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['-21','-17','-16','-2']" 
          data-fontsize="['64','56','48','38']"
          data-fontweight="700"
          data-lineheight="['70','64','60','46']"
          data-color="#fff"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-frames='[{"delay":1600,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-responsive_offset="on" 
          style="z-index: 5; text-shadow:0 1px 3px rgba(0,0,0, 0.2);letter-spacing: 3px; letter-spacing: 2px; text-transform: uppercase;">Paramount
        </div>

        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['36','36','30','35']" 
          data-width="none"
          data-height="none"
          data-fontsize="['24','20','18','14']"
          data-fontweight="300"
          data-lineheight="['30','24','22','20']"
          data-visibility="['on', 'on', 'on', 'off']"
          data-color="#fff"
          data-whitespace="nowrap"
          data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-responsive_offset="on" 
          style="z-index: 6; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
            of Oak Park
        </div>

        <a class="tp-caption btn btn-lg btn-custom2 min-width tp-resizeme rs-parallaxlevel-0" 
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
          data-y="['center','center','center','center']" data-voffset="['102','96','86','84']" 
          data-witdh="none"
          data-height="none"
          data-whitespace="nowrap"
          data-frames='[{"delay":2400,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          data-transform_hover="o:0.9;s:300;e:Linear.easeNone;"
          data-style_hover="bg:#0069b0;c:#fff;bc:#0069b0;s:300;e:Linear.easeNone;" 
          data-responsive_offset="on" 
          style="z-index: 7;"
          href="/pages/contact">Get in Touch
        </a>
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom" style="height: 4px; background-color: rgba(255, 255, 255, 0.4);"></div>
  </div><!-- End #rev_slider -->
</div><!-- END REVOLUTION SLIDER -->

<% if notice %>
  <div class="container pt20">
    <div class="row">
      <div class="alert alert-dismissible alert-success text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><%= notice %></strong>
      </div>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="container pt20">
    <div class="row">
      <div class="alert alert-dismissible alert-danger text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><%= alert %></strong>
      </div>
    </div>
  </div>
<% end %>

<div class="pt50 pb25 pt25-xs mb20 text-center bg-white">
  <div class="section-wrapper">
    <h2 class="title text-center mb30"><%= @welcome.title %></h2>
    <%= render partial: 'components/component', locals: { component: @welcome, name: 'welcome' } %>
  </div>
</div>

<div class="table-row bg-white border">
  <div class="table-cell cell-image overlay-container video-btn-section" id="square1">

    <div class="overlay custom"></div><!-- End .overlay -->
  </div><!-- End .table-cell -->
  <div class="table-cell cell-content mb30">
    <div class="row">
      <div class="col-xs-12 col-xss-12 mb20">
        <%= render partial: 'components/component', locals: { component: @we_offer, name: 'weOffer' } %>
      </div><!-- End .col-xs-6 -->
    </div><!-- End .row -->
  </div><!--End .table-cell  -->
</div><!-- End .table-row -->

<div class="table-row bg-white border">
  <div class="table-cell cell-content mb30">
    <div class="row">
      <div class="col-xs-12 col-xss-12">
        <%= render partial: 'components/component', locals: { component: @we_invite, name: 'weInvite' } %>
      </div><!-- End .col-xs-6 -->
    </div><!-- End .row -->
  </div><!--End .table-cell  -->
  <div class="table-cell cell-image overlay-container video-btn-section" id="square2">

    <div class="overlay custom"></div><!-- End .overlay -->
  </div><!-- End .table-cell -->
</div><!-- End .table-row -->

<div class="bg-custom pt30 pb20 pb20-sm">
  <div class="container">
    <h2 class="title text-white mb20">Book a Tour</h2>
      <div class="row">
        <%= form_for @tour, url: url_for(controller: 'tours', action: 'create') do |f| %>
          <div class="col-lg-3 col-md-2 col-sm-12">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div><!-- End .col-md-2 -->
          <div class="col-lg-3 col-md-2 col-sm-12">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div><!-- End .col-md-2 -->
          <div class="col-lg-2 col-md-2 col-sm-12">
            <%= f.label :tour_date %>
            <%= f.text_field :tour_date, class: "form-control flatpickr_calendar", placeholder: "Select Date.." %>
          </div><!-- End .col-md-2 -->
          <div class="col-lg-2 col-md-2 col-sm-12">
            <%= f.label :tour_time %>
            <%= f.text_field :tour_time, class: "form-control flatpickr_time", placeholder: "Select Time..", "data-alt-input" => "true", "data-alt-format" => "h:i K" %>
          </div><!-- End .col-md-2 -->
          <div class="col-lg-2 col-md-2 col-sm-12" style="margin-top: 27px">
            <%= f.invisible_captcha :subtitle %>
            <%= f.submit 'Book', class: "btn btn-block tour-button" %>
          </div><!-- End .col-md-2 -->
        <% end %>
      </div><!-- End .row -->

      <div class="clearfix mb10 visible-sm visible-xs"></div><!-- margin -->
  </div><!-- End .container -->
</div>

<div class="pt40 pb25 pt25-xs bg-white">
  <div class="section-wrapper">
    <div class="checklist">
      <h2 class="title text-center mb30"><%= @services.title %></h2>
      <%= render partial: 'components/component', locals: { component: @services, name: 'services' } %>
    </div>
  </div>
</div>

<div class="purplebg pt40 pb25 pt25-xs">
  <div class="section-wrapper">
    <div class="checklist">
      <h2 class="title text-center mb30"><%= @amenities_activities.title %></h2>
      <%= render partial: 'components/component', locals: { component: @amenities_activities, name: 'amenitiesActivities' } %>
    </div>
  </div>
</div>

<div class="pt40 pb25 pt25-xs text-center bg-white">
  <div class="section-wrapper">
    <h2 class="title text-center mb30"><%= @social_services.title %></h2>
    <%= render partial: 'components/component', locals: { component: @social_services, name: 'socialServices' } %>
  </div>
</div>

<div class="table-row bg-white border">
  <div class="table-cell cell-image overlay-container video-btn-section" id="square3">
  
    <div class="overlay custom"></div><!-- End .overlay -->
  </div><!-- End .table-cell -->
  <div class="table-cell cell-content mb30">
    <div class="row">
      <div class="col-xs-12 col-xss-12">
        <h2 class="title text-center mb20"><%= @rooms.title %></h2>
        <%= render partial: 'components/component', locals: { component: @rooms, name: 'rooms' } %>
      </div><!-- End .col-xs-6 -->
    </div><!-- End .row -->
  </div><!--End .table-cell  -->
</div><!-- End .table-row -->

<div class="table-row bg-white border">
  <div class="table-cell cell-content mb30">
    <div class="row">
      <div class="col-xs-12 col-xss-12">
        <h2 class="title text-center mb20"><%= @care_paramount.title %></h2>
        <%= render partial: 'components/component', locals: { component: @care_paramount, name: 'care' } %>
      </div><!-- End .col-xs-6 -->
    </div><!-- End .row -->
  </div><!--End .table-cell  -->
  <div class="table-cell cell-image overlay-container video-btn-section" id="square4">

    <div class="overlay custom"></div><!-- End .overlay -->
  </div><!-- End .table-cell -->
</div><!-- End .table-row -->