<table>
  <tr style="padding-bottom: 10px">
    <td>
      <b>Job Role:</b>
    </td>
    <td>
      <%= @career.job_role %>
    </td>
  </tr>

  <tr style="padding-bottom: 10px">
    <td><b>Name:</b></td>
    <td><%= @career.full_name %></td>
  </tr>

  <tr style="padding-bottom: 10px">
    <td><b>Phone Number:</b></td>
    <td><%= @career.phone_number %></td>
  </tr>

  <tr style="padding-bottom: 10px">
    <td><b>Email:</b></td>
    <td><%= @career.email %></td>
  </tr>

  <tr valign="top" style="padding-bottom: 10px">
    <td><b>Street Address:</b></td>
    <td>
      <%= @career.street_address %> <%= @career.apt_number %> <br> <%= @career.city %>, <%= @career.state%>, <%= @career.country %>, <%= @career.zip_code %>
    </td>
  </tr>

  <tr style="padding-bottom: 10px">
    <td><b>Referral:</b></td>
    <td><%= @career.referral %></td>
  </tr>
</table>