<div class="bg-white">
  <div class="jumbotron bg-custom text-white">
    <div class="container-fluid">
      <h2 class="text-center">About Us</h2>
    </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h2 class="title custom mb25">Learn more about us</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci fuga commodi deleniti fugiat harum iste quibusdam reprehenderit vitae vel dolores accusamus neque aut similique unde, temporibus ex, magni perspiciatis molestias.</p>
              <p>Corporis ad commodi perferendis distinctio enim, omnis autem alias est tenetur cupiditate odio quisquam velit magnam nulla vero, reprehenderit! Voluptate enim quo excepturi eius nam perspiciatis a sint iste nobis.</p>
              <p>Repudiandae aperiam, porro? Placeat fuga quos quaerat ex quia nam sint eos ad ab, eligendi in nihil aliquam sit itaque illum assumenda! Magnam cum, cupiditate consequuntur aperiam nemo recusandae corporis.</p>
              <p>Quasi sint, reiciendis nihil molestiae eaque dolores facilis ipsa vel rerum! Id, expedita mollitia obcaecati aliquid, quisquam vel deserunt cum eveniet similique, reprehenderit perspiciatis voluptates asperiores sed reiciendis harum quasi.</p>
          </div><!-- End .col-md-6 -->

          <div class="clearfix mb25 visible-xs visible-sm"></div><!-- margin -->

          <div class="col-md-6">
              <div class="about-slider">
                <%= image_tag 'item1.jpg' %>
              </div><!-- End. about-slider -->
          </div><!-- End .col-md-6 -->
      </div><!-- End .row -->
  </div><!-- End .container -->
</div><!-- End .bg-gray -->
  
<div class="container">
  <div class="team-carousel-wrapper">
      <h2 class="title custom mb25">Gallery</h2>
      <div class="team-carousel">

        <div class="member col-md-3">
            <div class="member-top">

              <%= image_tag 'item1.jpg', :style => "width:100%" %>

            </div><!-- End .member-top -->
            <p>CAPTION</p>
        </div><!-- End .member -->

        <div class="member col-md-3">
            <div class="member-top">

              <%= image_tag 'item1.jpg', :style => "width:100%" %>

            </div><!-- End .member-top -->
            <p>CAPTION</p>
        </div><!-- End .member -->

        <div class="member col-md-3">
            <div class="member-top">

              <%= image_tag 'item1.jpg', :style => "width:100%" %> 

            </div><!-- End .member-top -->
            <p>CAPTION</p>
        </div><!-- End .member -->

        <div class="member col-md-3">
            <div class="member-top">
                
              <%= image_tag 'item1.jpg', :style => "width:100%" %>
                
            </div><!-- End .member-top -->
            <p>CAPTION</p>
        </div><!-- End .member -->

      </div><!-- End .team-carousel -->
  </div><!-- End .team-carousel-wrapper -->
</div><!-- End .container -->

<div class="mb40"></div><!-- margin -->
<!-- End -->