<%= form_for @image do |f| %>
  <%= f.label :image_source %>
  <%= f.file_field :image_source %>

  <%= f.label :image_caption %>
  <%= f.text_area :image_caption %>

  <div class="form-group">
    <%= f.submit 'Apply', class: "btn btn-lg btn-custom2 min-width tp-resizeme" %>
  </div>
<% end %>