<!DOCTYPE html>
<html>
  <head>
    <title>Paramount of Oak Park</title>
    <%= csrf_meta_tags %>
    <%= include_gon(:init => true) %>
    <%= Gon::Base.render_data({}) %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="page-loader">
        <div class="sk-wave">
            <div class="sk-rect sk-rect1"></div><!-- End .sk-rect -->
            <div class="sk-rect sk-rect2"></div><!-- End .sk-rect -->
            <div class="sk-rect sk-rect3"></div><!-- End .sk-rect -->
            <div class="sk-rect sk-rect4"></div><!-- End .sk-rect -->
            <div class="sk-rect sk-rect5"></div><!-- End .sk-rect -->
        </div><!-- End .sk-wave -->
    </div><!-- End #page-loader -->

    <div id="wrapper">
      <header class="header header2 gray sticky-header">
        <div class="header-inner">
          <div class="container">
            <a href="/" class="site-logo" title="Paramount Rehab">
              <%= image_tag 'logo.png', alt: 'Paramount Logo', width: '50px' %>
              <span class="sr-only">Paramount Rehab</span>
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-container" aria-expanded="false">
              <span class="toggle-text">Menu</span>
              <span class="toggle-wrapper">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </span>
            </button>

            <div class="collapse navbar-collapse" id="main-nav-container">
              <ul class="nav navbar-nav navbar-right">

                <li><a href="#" role="button" aria-expanded="false">Home</a></li>

                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Care<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="/pages/circle_of_care">Circle of Care</a></li>
                      <li><a href="/pages/wound_care">Wound Care</a></li>
                      <li><a href="/pages/dementia_care">Dementia Care</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/pages/therapy" role="button" aria-expanded="false"><span>Therapy</span></a>
                </li>
                <li>
                  <a href="/careers/new" role="button" aria-expanded="false">Careers</a>
                </li>
                <li>
                  <a href="/pages/about" role="button" aria-expanded="false">About</a>
                </li>
                <li>
                  <a href="/pages/contact" role="button" aria-expanded="false">Contact</a>
                </li>
              </ul>
            </li>

              </ul>
            </div><!-- /.navbar-collapse -->

          </div><!-- End .container -->
        </div><!-- End .header-inner -->
      </header><!-- End .header -->

      <div class="main">
        <%= yield %>
      </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="widget about-widget">
              <img src="assets/images/footer-logo.png" alt="Simple Footer Logo">
              <hr>
                <label>Visit Us:</label>
                625 N. Harlem Ave. Oak Park IL. 60302
              </address><br>
              <label>Call Us:</label> +1 (708)-848-5966<br>
              <label>Write Us:</label> <a href="mailto:paramountchstours@gmail.com">paramountchstours@gmail.com</a>
            </div><!-- End .widget -->
          </div><!-- End .col-md-5 -->
          <div class="col-md-6 col-md-offset-1">
            <div class="row">

              <div class="widget">
                  <h4 class="widget-title">Paramount Rehab</h4>
                  <div class="row">

                    <div class="col-md-4">
                      <ul class="fa-ul">
                        <li><a href="#"><i class="fa-li fa fa-chain"></i>About us</a></li>
                        <li><a href="#"><i class="fa-li fa fa-chain"></i>Services</a></li>
                        <li><a href="#"><i class="fa-li fa fa-chain"></i>Features</a></li>
                        <li><a href="#"><i class="fa-li fa fa-chain"></i>Portfolio</a></li>
                      </ul>
                    </div>

                    <div class="col-md-4">
                      <ul class="fa-ul">
                        <li><a href="#"><i class="fa-li fa fa-chain"></i>Blog</a></li>
                        <li><a href="#"><i class="fa-li fa fa-chain"></i>Support</a></li>
                        <li><a href="#"><i class="fa-li fa fa-chain"></i>Contact Us</a></li>
                      </ul>
                    </div>

                  </div>
              </div><!-- End .widget -->

            </div><!-- End .row -->
          </div><!-- End .col-md-6 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </footer><!-- End .footer -->
  </body>
</html>
