<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if yield(:title).present? %>
        <%= yield(:title) %>
      <% else %>
        Paramount of Oak Park
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= include_gon(:init => true) %>
    <%= Gon::Base.render_data({}) %>

    <% if yield(:meta_description).present? %>
      <meta name="description" content="<%= yield(:meta_description) %>" />
    <% else %>
      <meta name="description" content="Welcome! We’re pleased that you are considering Paramount of Oak Park as a short or long term residence for yourself or your loved one." />
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="page-loader">
      <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div><!-- End .sk-rect -->
        <div class="sk-rect sk-rect2"></div><!-- End .sk-rect -->
        <div class="sk-rect sk-rect3"></div><!-- End .sk-rect -->
        <div class="sk-rect sk-rect4"></div><!-- End .sk-rect -->
        <div class="sk-rect sk-rect5"></div><!-- End .sk-rect -->
      </div><!-- End .sk-wave -->
    </div><!-- End #page-loader -->

    <div id="wrapper">
      <header class="header header2 gray sticky-header">
        <div class="header-inner">
          <div class="container">
            <a href="/" class="site-logo" title="Paramount of Oak Park">
              <%= image_tag 'logo-top.png', alt: 'Paramount Logo', width: '100px' %>
              <span class="sr-only">Paramount of Oak Park</span>
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-container" aria-expanded="false">
              <span class="toggle-text">Menu</span>
              <span class="toggle-wrapper">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </span>
            </button>

            <div class="collapse navbar-collapse" id="main-nav-container">
              <ul class="nav navbar-nav navbar-right">

                <li><a href="/" role="button" aria-expanded="false">Home</a></li>

                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Care<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/pages/circle_of_care">Circle of Care</a></li>
                    <li><a href="/pages/wound_care">Wound Care</a></li>
                    <li><a href="/pages/dementia_care">Dementia Care</a></li>
                    <li><a href="/pages/short_term_therapy">Short Term Therapy</a></li>
                  </ul>
                </li>
                <li><a href="/pages/therapy" role="button" aria-expanded="false"><span>Therapy</span></a></li>
                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Careers<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/pages/careers">Apply for a Job</a></li>
                    <li><a href="/pages/referral">Hiring/Referral Bonus</a></li>
                  </ul>
                </li>
                <li><a href="/pages/about" role="button" aria-expanded="false">About</a></li>
                <li><a href="/pages/contact" role="button" aria-expanded="false">Contact</a></li>
                <% if !current_user %>
                  <li><a href="/users/sign_in" role="button" aria-expanded="false">Sign In</a></li>
                <% end %>
                <% if current_user %>
                  <li><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></li>
                <% end %>

              </ul>
            </div><!-- /.navbar-collapse -->

          </div><!-- End .container -->
        </div><!-- End .header-inner -->
      </header><!-- End .header -->
    </div>

    <div class="main">
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-93389333-1', 'auto');
        ga('send', 'pageview');

      </script>
      
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="widget about-widget">
              <%= image_tag 'logo.png', alt: 'Logo', width: '200px' %>
              <hr>
                <label>Visit Us:</label>
                <a href="https://www.google.com/maps/place/625+N+Harlem+Ave,+Oak+Park,+IL+60302">625 N. Harlem Ave. Oak Park, IL. 60302</a><br>
              <label>Call Us:</label> <a href="tel:+17088485966">(708)-848-5966</a><br>
              <label>Write Us:</label> <a href="mailto:paramountchstours@gmail.com">paramountchstours@gmail.com</a>
            </div><!-- End .widget -->
          </div><!-- End .col-md-5 -->
          <div class="col-md-6 col-md-offset-1">
            <div class="row">

              <div class="widget links-widget">
                <h4 class="widget-title">Paramount of Oak Park</h4>
                <div class="row">

                  <div class="col-md-6">
                    <ul class="fa-ul">
                      <li><a href="/pages/circle_of_care"><i class="fa-li fa fa-chain" aria-hidden="true"></i>Circle of Care</a></li>
                      <li><a href="/pages/wound_care"><i class="fa-li fa fa-chain" aria-hidden="true"></i>Wound Care</a></li>
                      <li><a href="/pages/dementia_care"><i class="fa-li fa fa-chain" aria-hidden="true"></i>Dementia Care</a></li>
                      <li><a href="/pages/short_term_therapy"><i class="fa-li fa fa-chain" aria-hidden="true"></i>Short Term Therapy</a></li>
                      <li><a href="/pages/therapy"><i class="fa-li fa fa-chain" aria-hidden="true"></i>Therapy</a></li>
                    </ul>
                  </div>

                  <div class="col-md-6">
                    <ul class="fa-ul">
                      <li><a href="/pages/careers/"><i class="fa-li fa fa-chain" aria-hidden="true"></i>Apply for a Job</a></li>
                      <li><a href="/pages/referral"><i class="fa-li fa fa-chain" aria-hidden="true"></i>Hiring/Referral Bonuses</a></li>
                      <li><a href="/pages/about"><i class="fa-li fa fa-chain" aria-hidden="true"></i>About</a></li>
                      <li><a href="/pages/contact"><i class="fa-li fa fa-chain" aria-hidden="true"></i>Contact</a></li>
                    </ul>
                  </div>

                </div>
              </div><!-- End .widget -->

            </div><!-- End .row -->
          </div><!-- End .col-md-6 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </footer><!-- End .footer -->

    <a id="scroll-top" href="#top" title="Scroll top"><i class="fa fa-angle-up"></i></a>
    
    <%= javascript_include_tag 'application' %>
  </body>
</html>
